/* Estilos CSS para o menu superior */
#menu-superior {
    background-color: #363636;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#usuario-logado {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#usuario-logado img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

#usuario-logado span {
    font-weight: bold;
}

#whitecolor {
    color: white;
}