<!DOCTYPE html>
<html>

<head>
    <title>GNV Center Gas</title>
</head>

<body>
    <div class="menu">

        <ul id="id= whitecolor">
            <li id="whitecolor"><a id="whitecolor" href="#">Agendar um serviço</a></li>
            <li id="whitecolor"><a id="whitecolor" href="#">Agendar uma montagem</a></li>
            <li id="whitecolor"><a id="whitecolor" href="#">Fazer um orçamento online</a></li>

        </ul>
    </div>

    <div class="content">
        <!-- Conteúdo principal do seu projeto -->
        <h1>GNV CENTER GÀS</h1>
        <p>Seja bem vindo a GNV CENTER GAS. Será um prazer atender Você</p>
    </div>
</body>

</html>